@model IEnumerable<WebRemotePBL4.Models.Folder>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/style/reset.css">
    <link rel="stylesheet" href="~/Content/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<body>
    <div class="row">
        <!-- ----------------------SIDEBAR---------------------- -->
        <section class="sidebar">
            <div class="logo">
                <img src="~/Content/img/blue.png" alt="logo" />
            </div>
            <ul class="menu">
                <li class="menu-item blue">
                    <a href="/">
                        <i class="fa fa-tv"></i>
                        Dashboard
                    </a>
                </li>
                <li class="menu-item orange">
                    <a href="/Users/Index">
                        <i class="fa fa-user"></i>
                        User
                    </a>
                </li>
                <li class="menu-item blue-light active">
                    <a href="/Folders/Index">
                        <i class="fa fa-database"></i>
                        Data
                    </a>
                </li>
                <li class="menu-item blue">
                    <a href="/">
                        <i class="fas fa-tools"></i>
                        Actions
                    </a>
                </li>
            </ul>
        </section>
        <!-- -----------------------BODY------------------------- -->
        <section class="body">
            <div class="body-header">
                <div class="container">
                    <div class="row between">
                        <form class="search">
                            <i class="fa fa-search"></i>
                            <input type="text" placeholder="Search..." />
                        </form>
                        <div class="user-info">
                            <img class="avatar"
                                 src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Prescription02&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=ShirtScoopNeck&clotheColor=Gray01&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light' />
                            <span class="name">Công Toàn</span>
                        </div>
                    </div>
                    <div class="breadcumb">
                        <a href="/"><i class="fa fa-home"></i></a>
                        <span>/</span>
                        <p>Data</p>
                    </div>
                </div>
            </div>
            <div class="body-main">
                <div class="container">
                    <div class="table">
                        <h3>Data</h3>
                        <div class="table-header row">
                            <div class="col-1">Id</div>
                            <div class="col-3">Name</div>
                            <div class="col-2">Status</div>
                            <div class="col-1">Images</div>
                            <div class="col-1">Texts</div>
                            <div class="col-1">Collect</div>
                        </div>
                        <div class="table-body">

                            @foreach (var item in Model)
                            {
                            <div class="table-row row">
                                <div class="col-1">@item.ID_User</div>
                                <div class="col-3">@item.User.Detail</div>
                                @{
                                    if (item.User.Status == true)
                                    {
                                        <div class="col-2">
                                            <span class="pending">
                                                pending
                                            </span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-2">
                                            <span class="killed">
                                                killed
                                            </span>
                                        </div>
                                    }

                                }
                                <div class="col-1">
                                    <a title="View images" href="/Users/ListFolderName/@item.ID_User"><i class="fas fa-images image"></i></a>
                                </div>
                                <div class="col-1">
                                    <a title="View texts" href="/"><i class="far fa-file-alt text"></i></a>
                                </div>
                                <div class="col-1">1GB</div>
                                <div class="col-1">
                                    <button class="action-btn"><i class="fas fa-ellipsis-v"></i></button>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="pagination row">
                            <a href="/" class="pagination-item"><i class="fa fa-chevron-left"></i></a>
                            <a href="/" class="pagination-item active">1</a>
                            <a href="/" class="pagination-item">2</a>
                            <a href="/" class="pagination-item">3</a>
                            <a href="/" class="pagination-item"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</body>

</html>
